.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
.popup.open {
  opacity: 1;
  visibility: visible;
}
.popup.open .popup__content {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}
.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.popup__content {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 7px 8px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 7px 8px 0px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  color: #000000;
  max-width: 940px;
  width: 100%;
  padding: 40px;
  position: relative;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  opacity: 0;
  -webkit-transform: translate(0px, -100%);
      -ms-transform: translate(0px, -100%);
          transform: translate(0px, -100%);
}
.popup__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}
.popup__image {
  margin-right: 40px;
  border-radius: 20px;
}
.popup__close {
  position: absolute;
  right: 40px;
  top: 40px;
  color: rgba(20, 16, 36, 0.7);
  font-size: 18px;
  text-decoration: none;
}
.popup__title {
  margin-bottom: 10px;
  color: #141024;
  font-size: 24px;
  font-weight: 600;
}
.popup__text {
  margin-bottom: 10px;
  color: rgba(20, 16, 36, 0.7);
  font-size: 18px;
}
.popup__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.popup__social-icon {
  display: inline-block;
}
.popup__social-icon + .popup__social-icon {
  margin-left: 10px;
}
.popup__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.popup__body::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: calc(100% - 5px);
  height: 32px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.21)), to(rgb(255, 255, 255)));
  background: -o-linear-gradient(rgba(255, 255, 255, 0.21), rgb(255, 255, 255));
  background: linear-gradient(rgba(255, 255, 255, 0.21), rgb(255, 255, 255));
}
.popup__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-bottom: 1px solid rgba(20, 16, 36, 0.11);
  margin-bottom: 20px;
}
.popup__tab {
  padding: 20px 0;
  background-color: transparent;
  width: 100%;
  text-align: left;
}
.popup__tab.activetab {
  color: #D52027;
}
.popup__tab.hidetab {
  cursor: initial;
  color: rgba(20, 16, 36, 0.2);
}
.popup__tabs-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 350px;
  overflow-y: auto;
}
.popup__tabs-content::-webkit-scrollbar {
  width: 5px;
  border-radius: 40px;
  background: rgba(20, 16, 36, 0.08);
}
.popup__tabs-content::-webkit-scrollbar-thumb {
  width: 5px;
  border-radius: 40px;
  background: #141024;
}
.popup__item {
  -webkit-animation: fade 1s;
          animation: fade 1s;
}
.popup__item.hide {
  display: none;
}
.popup__item-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 40px;
}
.popup__item-title {
  margin-bottom: 20px;
  color: #141024;
  font-size: 24px;
  font-weight: 600;
}
.popup__item-text {
  color: #141024;
  font-size: 20px;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}