@charset "UTF-8";
/* reset and base styles */
*, *::before, *::after {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

a, a:visited, a:hover {
  text-decoration: none;
}

a:focus, a:active {
  outline: none;
}

/* Убираем оформление автоматически добавленных ссылок iPhone'ом */
a[href^=tel] {
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

p + p {
  margin-top: 1em;
}

ul {
  list-style: none;
}

img, svg, video {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  object-fit: cover;
}

/* form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
}

input {
  line-height: inherit; /* Изменим стили шрифтов */
  margin: 0; /* Удалим margin в Firefox и Safari */
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  border-color: transparent;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: none;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* === Подключаем шрифты === */
@font-face {
  font-family: "Jost";
  src: url(../fonts/Jost-Regular.woff) format("woff"), url(../fonts/Jost-Regular.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Jost";
  src: url(../fonts/Jost-SemiBold.woff) format("woff"), url(../fonts/Jost-SemiBold.woff2) format("woff2");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Jost";
  src: url(../fonts/Jost-Bold.woff) format("woff"), url(../fonts/Jost-Bold.woff2) format("woff2");
  font-style: normal;
  font-weight: 700;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}
.popup.open {
  opacity: 1;
  visibility: visible;
}
.popup.open .popup__content {
  transform: translate(0px, 0px);
  opacity: 1;
}
.popup__inner {
  min-height: 100%;
  padding: 40px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup__content {
  background-color: #FFFFFF;
  box-shadow: 0px 7px 8px 0px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  color: #000000;
  max-width: 940px;
  width: 100%;
  padding: 40px;
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: translate(0px, -100%);
}
.popup__header {
  display: flex;
  margin-bottom: 20px;
}
.popup__image {
  margin-right: 40px;
  border-radius: 20px;
}
.popup__close {
  position: absolute;
  right: 40px;
  top: 40px;
  color: rgba(20, 16, 36, 0.7);
  font-size: 18px;
  text-decoration: none;
}
.popup__title {
  margin-bottom: 10px;
  color: #141024;
  font-size: 24px;
  font-weight: 600;
  margin-right: 80px;
}
.popup__text {
  margin-bottom: 10px;
  color: rgba(20, 16, 36, 0.7);
  font-size: 18px;
}
.popup__social {
  display: flex;
}
.popup__social-link {
  display: inline-block;
}
.popup__social-link + .popup__social-link {
  margin-left: 10px;
}
.popup__body {
  display: flex;
  flex-direction: column;
  position: relative;
}
.popup__body::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: calc(100% - 5px);
  height: 32px;
  background: linear-gradient(rgba(255, 255, 255, 0.21), rgb(255, 255, 255));
}
.popup__tabs {
  display: flex;
  width: 100%;
  border-bottom: 1px solid rgba(20, 16, 36, 0.11);
  margin-bottom: 20px;
}
.popup__tab {
  padding: 20px 0;
  background-color: transparent;
  width: 100%;
  text-align: left;
  color: #000000;
}
.popup__tab.activetab {
  color: #D52027;
}
.popup__tab.hidetab {
  cursor: initial;
  color: rgba(20, 16, 36, 0.2);
}
.popup__tabs-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 350px;
  overflow-y: auto;
}
.popup__tabs-content::-webkit-scrollbar {
  width: 5px;
  border-radius: 40px;
  background: rgba(20, 16, 36, 0.08);
}
.popup__tabs-content::-webkit-scrollbar-thumb {
  width: 5px;
  border-radius: 40px;
  background: #141024;
}
.popup__item {
  animation: fade 1s;
}
.popup__item.hide {
  display: none;
}
.popup__item-description {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.popup__item-title {
  margin-bottom: 20px;
  color: #141024;
  font-size: 24px;
  font-weight: 600;
}
.popup__item-text {
  color: #141024;
  font-size: 20px;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

select::-ms-expand { /* для IE */
  display: none;
}

option:nth-child(3) {
  color: rgba(20, 16, 36, 0.2);
}

@media (min-width: 576px) {
  .popup__close-icon {
    display: none;
  }
  .popup__select {
    display: none;
  }
}
@media (max-width: 576px) {
  .popup__select {
    display: block;
    background-color: #D52027;
    width: 100%;
    height: 46px;
    outline: none;
    color: #FFFFFF;
    padding: 10px 25px;
    font-size: 16px;
  }
  .popup__select-option {
    text-align: center;
    background-color: #fff;
    color: #000000;
  }
  .popup__select-option:hover {
    background-color: #D52027;
    color: #FFFFFF;
  }
  .popup__tab {
    display: none;
  }
  .popup__body::after {
    height: 22px;
  }
  .popup__content {
    padding: 20px;
    padding-top: 33px;
  }
  .popup__close {
    top: 15px;
    right: 15px;
  }
  .popup__close-text {
    display: none;
  }
  .popup__close-icon {
    display: block;
  }
  .popup__image {
    margin-right: 10px;
    width: 30%;
    height: auto;
  }
  .popup__title {
    margin-right: 0;
    margin-bottom: 5px;
    font-size: 16px;
  }
  .popup__text {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1.4;
  }
  .popup__social-link + .popup__social-link {
    margin-left: 5px;
  }
  .popup__tabs-content {
    height: 265px;
  }
  .popup__item-description {
    margin-bottom: 20px;
  }
  .popup__item-title {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.6;
  }
  .popup__item-text {
    font-size: 14px;
    line-height: 1.6;
  }
}
@media (max-width: 375px) {
  .popup__image {
    width: 60px;
    height: 88px;
  }
}
body {
  font-family: "Jost", sans-serif;
  line-height: 1.6;
  font-weight: 400;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
}

.coach,
.coach .container,
.welcome {
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.container--large {
  max-width: 1720px;
}

.container--small {
  max-width: 1040px;
}

/* === Header === */
.header {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 100;
}

.header.fixed {
  transform: translateY(104px);
  position: fixed;
  top: -104px;
  left: 0;
  width: 100%;
  transition: transform 0.8s ease;
  background-color: #141024;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

.header__inner {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-weight: 700;
  font-size: 30px;
  color: #FFFFFF;
  transition: color 0.2s;
}
.header__logo:hover {
  color: #e03239;
}
.header__logo:active {
  color: #a6191e;
}

.header__menu-list {
  display: flex;
}

.header__menu-item + .header__menu-item {
  margin-left: 40px;
}

.header__menu-link {
  font-size: 20px;
  color: #FFFFFF;
  transition: color 0.2s;
}
.header__menu-link:hover {
  color: #e03239;
}
.header__menu-link:active {
  color: #a6191e;
}

.header__phone-text {
  font-weight: 600;
  font-size: 30px;
  color: #FFFFFF;
  transition: color 0.2s;
}
.header__phone-text:hover {
  color: #e03239;
}
.header__phone-text:active {
  color: #a6191e;
}

.welcome {
  padding-top: 190px;
  min-height: 900px;
  background-color: #141024;
}
.welcome__inner {
  min-height: 900px;
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}
.welcome__content {
  flex: 0 0 516px;
}
.welcome__title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 70px;
  color: #FFFFFF;
}
.welcome__text {
  margin-bottom: 50px;
  font-size: 20px;
  color: #FFFFFF;
}
.welcome__link {
  display: inline-block;
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
  background-color: #D52027;
  border-radius: 5px;
  padding: 25px;
  width: 260px;
  transition: background-color 0.2s;
}
.welcome__link:hover {
  background-color: #e03239;
}
.welcome__link:active {
  background-color: #a6191e;
}
.welcome__image {
  position: absolute;
  max-width: 100%;
  height: auto;
  bottom: 0;
  right: 0;
  transform: translateX(25%);
}

.about {
  background-color: #fff;
}
.about__inner {
  padding: 120px 0;
}
.about__text {
  margin-bottom: 60px;
  max-width: 890px;
  font-size: 30px;
  color: #141024;
}
.about__text span {
  font-weight: 600;
}
.about__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-items: stretch;
}
.about__item {
  width: 100%;
}
.about__item-number {
  font-weight: 600;
  font-size: 70px;
  color: #D52027;
}
.about__item-text {
  font-size: 18px;
  color: rgba(20, 16, 36, 0.7);
}

.info {
  background-color: #F9F9F9;
}
.info__inner {
  padding: 100px 0;
}
.info__title {
  margin-bottom: 60px;
  font-weight: 600;
  font-size: 50px;
  color: #141024;
}
.info__list {
  display: flex;
  justify-content: space-between;
}
.info__item {
  width: 360px;
}
.info__item + .info__item {
  margin-left: 30px;
}
.info__item-title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 24px;
  color: #141024;
  display: flex;
}
.info__item-text {
  font-size: 18px;
  color: rgba(20, 16, 36, 0.7);
}
.info__item-prompt {
  width: 24px;
  height: 24px;
  color: #141024;
  background-color: rgba(20, 16, 36, 0.08);
  border-radius: 50%;
  font-size: 18px;
  margin-left: 10px;
  position: relative;
  transition: all 0.2s ease;
}
.info__item-prompt:hover {
  background-color: rgba(20, 16, 36, 0.12);
}
.info-prompt {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  position: absolute;
  top: -70px;
  left: -10px;
  width: 251px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(20, 16, 36, 0.1);
  border-radius: 5px;
  font-size: 16px;
  line-height: 1.6;
  padding: 15px 20px;
  color: #141024;
  cursor: initial;
}
.info-prompt.show {
  visibility: visible;
  opacity: 1;
}

.service__inner {
  padding: 120px 0;
}
.service__title {
  margin-bottom: 60px;
  font-weight: 600;
  font-size: 50px;
  color: #141024;
}
.service__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service-card {
  padding: 40px;
  width: 360px;
  height: 460px;
  border: 1px solid rgba(20, 16, 36, 0.2);
  border-radius: 20px;
  color: #141024;
  text-align: center;
}
.service-card.active {
  height: 500px;
  background-color: #141024;
  color: #FFFFFF;
}
.service-card.active .service-card__title {
  margin-bottom: 83px;
}
.service-card.active .service-card__text {
  margin-bottom: 52px;
}
.service-card__title {
  margin-bottom: 63px;
  font-weight: 600;
  font-size: 30px;
}
.service-card__number {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 50px;
}
.service-card__text {
  margin-bottom: 61px;
  font-size: 18px;
}
.service-card__link {
  display: inline-block;
  font-size: 18px;
  color: #FFFFFF;
  background-color: #D52027;
  border-radius: 5px;
  padding: 25px;
  width: 280px;
  text-align: center;
  transition: background-color 0.2s;
}
.service-card__link:hover {
  background-color: #e03239;
}
.service-card__link:active {
  background-color: #a6191e;
}

.promotion {
  background-color: #D52027;
  overflow: hidden;
  position: relative;
}
.promotion::after {
  content: "";
  position: absolute;
  bottom: -21px;
  left: 0;
  right: 0;
  background-image: url(../img/decor-procent.svg);
  height: 121px;
  background-position: bottom center;
}
.promotion__inner {
  padding: 87px 0;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}
.promotion__content {
  width: 400px;
  margin-right: 20px;
}
.promotion__content-title {
  margin-top: 19px;
  margin-bottom: 20px;
  width: 360px;
  line-height: 1.3;
  font-weight: 600;
  font-size: 36px;
  color: #FFFFFF;
}
.promotion__content-text {
  line-height: 1.3;
  font-size: 20px;
  color: #FFFFFF;
}
.promotion__form {
  max-width: 500px;
  width: 100%;
}
.promotion__form-input {
  padding: 19px 20px;
  background-color: #F6F6F6;
  border-radius: 5px;
  outline: none;
  width: 100%;
  font-size: 18px;
  line-height: 1.45;
  color: rgba(40, 41, 68, 0.7);
}
.promotion__form-input::placeholder {
  font-size: 18px;
  line-height: 1.45;
  color: rgba(40, 41, 68, 0.7);
}
.promotion__form-button {
  padding: 19px 20px;
  width: 100%;
  text-align: center;
  background-color: #141024;
  border-radius: 5px;
  line-height: 1.45;
  color: #FFFFFF;
  transition: background-color 0.2s;
}
.promotion__form-button:hover {
  background-color: #1b172d;
}
.promotion__form-button:active {
  background-color: #100d1b;
}
.promotion__input-box {
  margin-bottom: 10px;
  position: relative;
}

.just-validate-error-label {
  position: absolute;
  top: 0px;
  left: 20px;
}

.just-validate-success-field {
  background-image: url(../img/validate-success.svg);
  background-position: right calc(0.375em + 0.1875rem) center;
  background-repeat: no-repeat;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.footer {
  background-color: #141024;
}
.footer__inner {
  padding: 40px 0;
}
.footer__content {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}
.footer__content-logo {
  font-weight: 700;
  font-size: 30px;
  color: #FFFFFF;
}
.footer__content-phone {
  font-weight: 600;
  font-size: 30px;
  color: #FFFFFF;
}
.footer__copyright {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
}

.coach__inner {
  padding-top: 120px;
}
.coach__title {
  margin-bottom: 60px;
  font-weight: 600;
  font-size: 50px;
  line-height: 160%;
  color: #141024;
}

.coach-card__image {
  margin-bottom: 20px;
  border-radius: 20px;
}
.coach-card__title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  color: #141024;
}
.coach-card__text {
  margin-bottom: 20px;
  font-size: 18px;
  color: rgba(20, 16, 36, 0.7);
}
.coach-card__link {
  display: inline-block;
  font-size: 18px;
  color: #D52027;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.2s;
}
.coach-card__link:hover {
  color: #e03239;
  text-decoration: underline;
}
.coach-card__link:active {
  color: #a6191e;
  text-decoration: underline;
}

.swiper-wrapper {
  padding-bottom: 100px;
}

.swiper, swiper-container {
  overflow: visible !important;
  z-index: 0 !important;
}

.swiper-horizontal > .swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
  top: initial !important;
  bottom: 20px !important;
  left: 0 !important;
  opacity: 1 !important;
  max-width: 360px !important;
  width: 100% !important;
  height: 5px !important;
  border-radius: 40px !important;
}

.swiper-scrollbar-drag {
  background: #141024 !important;
  border-radius: 40px !important;
}

.swiper-button-next,
.swiper-button-prev {
  top: inherit !important;
  bottom: 0 !important;
  width: 40px !important;
  height: 40px !important;
  -webkit-tap-highlight-color: transparent; /* уюирает обводку при таче на дисплей*/
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
  right: 50px !important;
  left: inherit !important;
}

.swiper-button-prev:after {
  content: url(../img/arrow-left.svg) !important;
  line-height: 0 !important;
}

.swiper-button-next:after {
  content: url(../img/arrow-right.svg) !important;
  line-height: 0 !important;
}

.swiper-scrollbar {
  background: rgba(20, 16, 36, 0.08) !important;
}

@media (max-width: 1250px) {
  .welcome__content {
    flex-basis: 410px;
  }
  .welcome__title {
    margin-bottom: 15px;
    font-size: 50px;
  }
  .welcome__text {
    margin-bottom: 30px;
    font-size: 18px;
  }
  .info-prompt {
    top: -62px;
    left: -152px;
  }
}
@media (max-width: 1150px) {
  .service__list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .service__item + .service__item {
    margin-left: 30px;
  }
  .service__item:last-child {
    margin-top: 30px;
  }
}
@media (max-width: 1100px) {
  .about__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
  .welcome__image {
    width: calc(115% - 410px);
  }
}
@media (max-width: 992px) {
  .welcome {
    padding-top: 0px;
  }
  .welcome,
  .welcome__inner {
    min-height: 600px;
  }
  .welcome__image {
    display: none;
  }
  .header__phone-text,
  .header__logo,
  .footer__content-logo,
  .footer__content-phone {
    font-size: 22px;
  }
  .service__title,
  .coach__title,
  .info__title {
    font-size: 40px;
  }
  .header__menu-item + .header__menu-item {
    margin-left: 20px;
  }
  .header__menu-link {
    font-size: 16px;
  }
  .info__item-title {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .info__item-text {
    font-size: 16px;
  }
  .footer__copyright {
    font-size: 14px;
  }
}
@media (max-width: 800px) {
  .service__inner {
    padding: 90px 0;
    text-align: center;
  }
  .service__list {
    flex-direction: column;
    align-items: center;
  }
  .service__item + .service__item {
    margin-left: 0;
    margin-top: 30px;
  }
  .service__item:last-child {
    margin-top: 20px;
  }
}
/* === Menu-burger ===*/
.header__burger-close {
  display: none;
}

@media (min-width: 768px) {
  .header__burger {
    display: none;
  }
  .header__phone-icon {
    display: none;
  }
}
@media (max-width: 768px) {
  .header__phone-text {
    display: none;
  }
  .header__phone-icon {
    display: inherit;
  }
  .header__burger, .header__phone {
    z-index: 5;
    display: block;
    padding: 16px 8px;
    width: 44px;
    height: 44px;
    cursor: pointer;
    position: relative;
  }
  .header__burger::after, .header__phone::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: "";
    width: 44px;
    height: 44px;
    background: linear-gradient(rgba(20, 16, 36, 0.9333333333), rgba(20, 16, 36, 0.9333333333)) padding-box, linear-gradient(180deg, #ffffff, rgba(255, 255, 255, 0)) border-box;
    border-radius: 10px;
    border: 2px solid transparent;
    opacity: 0.4;
  }
  .header__phone {
    padding: 11px;
    position: absolute;
    right: 74px;
  }
  .header__phone.hide {
    display: none;
  }
  .header__burger.active {
    padding: 16px 15px;
    top: 0;
    right: 0;
  }
  .header__burger.active .header__burger-close {
    display: block;
  }
  .header__burger.active .header__burger-open {
    display: none;
  }
  .header__menu.active {
    left: 0;
  }
  .header__menu {
    position: absolute;
    top: 0;
    left: -100%; /* 0 */
    width: 100%;
    height: 100vh;
    background-color: #141024;
    transition: left 0.3s ease 0s; /* all*/
    overflow: auto;
    z-index: 5;
  }
  .header__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .header__menu-item + .header__menu-item {
    margin-left: 0;
    margin-top: 20px;
  }
  .header__menu-link {
    font-size: 30px;
    font-weight: 600;
  }
  .welcome__inner {
    text-align: center;
    justify-content: center;
  }
  .welcome__content {
    margin-top: 90px;
    margin-bottom: 40px;
    align-items: center;
  }
  .welcome__image {
    transform: inherit;
    position: relative;
    display: block;
    width: 100%;
  }
  .welcome__title {
    margin-bottom: 10px;
    font-size: 30px;
  }
  .welcome__text {
    margin-bottom: 20px;
    font-size: 16px;
  }
  .welcome__button {
    position: relative;
  }
  .welcome__link {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
    padding: 17px 20px;
    width: 100%;
  }
  .about__inner {
    padding: 90px 0;
  }
  .about__text {
    margin-bottom: 40px;
    font-size: 24px;
  }
  .about__item-number {
    font-size: 60px;
  }
  .about__item-text {
    font-size: 16px;
  }
  .info__list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .info__item {
    width: 45%;
  }
  .info__item:last-child {
    margin-top: 50px;
  }
  .coach-card__image {
    height: 400px;
  }
  .service__title,
  .coach__title,
  .info__title {
    font-size: 36px;
  }
  .service__title {
    margin-bottom: 40px;
  }
  .promotion::before {
    content: inherit;
  }
  .promotion__inner {
    padding: 40px 0;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .promotion__content {
    margin-bottom: 40px;
    margin-right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .promotion__content-title {
    margin-top: 0;
    margin-bottom: 10px;
    width: 300px;
    font-size: 30px;
  }
  .promotion__content-text {
    width: 250px;
    font-size: 16px;
  }
  .promotion__form-input {
    padding: 17px 20px;
  }
}
@media (max-width: 576px) {
  .container {
    padding: 0 10px;
  }
  .header__logo {
    font-size: 18px;
  }
  .header__phone {
    padding: 11px;
    position: absolute;
    right: 64px;
  }
  .service__title,
  .coach__title,
  .info__title {
    font-size: 30px;
  }
  .about__inner {
    padding: 60px 0;
  }
  .about__text {
    font-size: 20px;
  }
  .info__inner {
    padding: 40px 0 52px;
    text-align: center;
  }
  .info__title {
    margin-bottom: 40px;
    font-size: 30px;
  }
  .info__list {
    flex-direction: column;
    align-items: center;
  }
  .info__item {
    width: 300px;
    margin-bottom: 30px;
  }
  .info__item:last-child {
    margin-top: 0;
  }
  .info__item + .info__item {
    margin-left: 0;
  }
  .info__item-title {
    justify-content: center;
  }
  .info-prompt {
    font-size: 14px;
    width: 224px;
    height: 52px;
  }
  .coach__inner {
    padding-top: 60px;
  }
  .coach__title {
    margin-bottom: 40px;
    font-size: 30px;
    text-align: center;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
  .swiper-wrapper {
    padding-bottom: 45px;
  }
  .swiper-horizontal > .swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
    bottom: 0 !important;
    max-width: 100% !important;
  }
  .coach-card__image {
    width: 100%;
    height: 306px;
  }
  .coach-card__title {
    font-size: 20px;
  }
  .coach-card__title {
    font-size: 14px;
  }
  .coach-card__link {
    font-size: 16px;
  }
  .service__inner {
    padding: 60px 0;
  }
  .service__item + .service__item {
    margin-top: 30px;
  }
  .service-card.active {
    height: 420px;
  }
  .service-card {
    padding: 40px 20px;
    width: 300px;
    height: 394px;
  }
  .service-card__title,
  .service-card.active .service-card__title {
    margin-bottom: 40px;
  }
  .service-card__number {
    margin-bottom: 20px;
  }
  .service-card__text,
  .service-card.active .service-card__text {
    margin-bottom: 40px;
    font-size: 16px;
  }
  .service-card__link {
    width: 260px;
    padding: 17px 25px;
    font-size: 16px;
    line-height: 1.6;
  }
  .footer__inner {
    padding: 40px 0 20px;
    text-align: center;
  }
  .footer__content {
    margin-bottom: 40px;
    flex-direction: column;
  }
  .footer__content-logo {
    margin-bottom: 20px;
    font-size: 18px;
  }
  .footer__content-phone {
    font-size: 16px;
  }
}
@media (max-width: 475px) {
  .welcome__content {
    flex-basis: calc(100% - 20px);
  }
  .about__list {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    text-align: center;
    justify-items: center;
  }
  .about__item {
    width: 270px;
  }
}